<!doctype html>
{% load static %}
{% comment %} {% block brand %} <img src="{% static "/static/reviews/logo.png" %}"> {% endblock %} {% endcomment %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{% block title %}Book Review{% endblock title %}</title>
        <style type="text/css">
      .navbar {
        min-height: 100px;
        font-size: 25px;
      }
      .navbar-brand {
        font-size: 25px;
      }

      .navbar-brand > img {
         height: 60px;
       }
    </style>
  </head>
  <body>
    {% include "navbar.html" %}
    {% block content %}
    <h1>Hello World using Django templates!</h1>
    {% endblock %}
    {% include "footer.html" %}
  </body>
</html>
